@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --primary: 56, 189, 248;
        --secondary: 0, 149, 214;
        --danger: 220, 53, 69;
        --black: 0, 0, 0;
        --warning: 255, 193, 7;
        --bg-primary: 255, 255, 255;
        --bg-secondary: 233, 237, 241;
        --bg-primary-light: 215, 242, 254;
        --bg-dark-primary: 15, 23, 42;
        --bg-dark-secondary: 30, 41, 59;
        --text-primary: 15, 23, 42;
        --text-secondary: 51, 65, 85;
        --text-dark-primary: 226, 232, 240;
        --text-dark-secondary: 147, 162, 183;
    }
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }