@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --primary: 56, 189, 248;
        --secondary: 0, 149, 214;
        --bg-primary: 255, 255, 255;
        --bg-secondary: 233, 237, 241;
        --bg-dark-primary: 15, 23, 42;
        --bg-dark-secondary: 30, 41, 59;
        --text-primary: 15, 23, 42;
        --text-secondary: 51, 65, 85;
        --text-dark-primary: 226, 232, 240;
        --text-dark-secondary: 147, 162, 183
    }
}